.heading {
    width: 100%;
    background-color: rgb(127, 127, 127);
    color: white;
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
    height: 10rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
}