.heading {
    width: 100%;
    background-color: rgb(101, 159, 235);
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: 'Climate Crisis', cursive;
    font-weight: 100;
    padding-top:20px;
    font-size: 4rem;
    padding: 2rem;
}

a.normal {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}